@import "tailwindcss";

/* Force white text for autofilled inputs in dark mode */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  background-color: #1e293b !important;
}

.dark input::placeholder {
  color: #cbd5e1 !important; /* Tailwind slate-300 */
  opacity: 1 !important;
}


